header {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 43%, rgba(0, 212, 255, 1) 100%);
    // text-align: center;
    h1 {
        color: #FFD700;
        font-family: 'times new roman', serif;
        font-weight: bold;
        font-size: 50px;
    }
    h2 {
        color: #9e8a06;
        font-style: italic;
        font-family: 'gluten', sans-serif;
    }
}