footer {
    background-color: #324f9e;
    background-image: linear-gradient(108deg, #324f9e 0%, #190882 27%, #110240 59%);
    i {
        font-size: 30px;
        color: white;
    }
}

.contenedor-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}